# Objectives

At the end of the experiment you will able to

* perform data cleaning, manipulation and pre-processing using Pandas

## Dataset

In this Experiment you will be using movies dataset. The dataset contains 77 rows and 8 columns. The columns are as follows:

* Film
* Genre
     - Romance, Comedy, Drama, Animation, Fantasy, Action
* Lead Studio
* Audience score in percentage
* Profitability
* Rotten Tomatoes in percentage
* Worldwide Gross
* Year

## Features of Pandas

* Fast and efficient DataFrame object with default and customized indexing.
* Tools for loading data into in-memory data objects from different file formats.
* Data alignment and integrated handling of missing data.
* Reshaping and pivoting of date sets.
* Label-based slicing, indexing and subsetting of large data sets.
* Columns from a data structure can be deleted or inserted.
* Group by data for aggregation and transformations.
* High performance merging and joining of data.
* Time Series functionality.

Now it is time to work on practicals. Following Are the given Exercise:

## Run the below code cell to download the movies data

In [1]:
!wget https://cdn.talentsprint.com/aiml/movies.csv

--2022-09-03 18:07:14--  https://cdn.talentsprint.com/aiml/movies.csv
Resolving cdn.talentsprint.com (cdn.talentsprint.com)... 172.105.34.236
Connecting to cdn.talentsprint.com (cdn.talentsprint.com)|172.105.34.236|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cdn.ap-south-1.linodeobjects.com/public_html/aiml/movies.csv [following]
--2022-09-03 18:07:15--  https://cdn.ap-south-1.linodeobjects.com/public_html/aiml/movies.csv
Resolving cdn.ap-south-1.linodeobjects.com (cdn.ap-south-1.linodeobjects.com)... 172.104.36.102, 103.3.61.236, 139.162.42.49, ...
Connecting to cdn.ap-south-1.linodeobjects.com (cdn.ap-south-1.linodeobjects.com)|172.104.36.102|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5074 (5.0K) [text/csv]
Saving to: ‘movies.csv’

movies.csv          100%[===================>]   4.96K  --.-KB/s    in 0s

2022-09-03 18:07:16 (42.0 MB/s) - ‘movies.csv’ saved [5074/5074]

In [2]:
import pandas as pd

In [3]:
moviesdata = pd.read_csv("movies.csv")

In [4]:
moviesdata.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

### Exercises 1: How many movies are listed in the moviesdata dataframe?

In [7]:
# Your Code Here
moviesdata["Film"].count()

77

### Exercises 2: How many movies were made in the year 2009?

In [29]:
# df=moviesdata["Year"]=2009
# df
# print(moviesdata["Film"].count())

df=moviesdata[moviesdata['Year']==2009]
df
# df["Film"].count()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2009
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2009
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2009
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2009
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2009
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2009
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2009
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2009
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

### Exercises 3: Which year saw the most films released?

In [33]:
# Your Code
moviesdata["Film"].max().

'Zack and Miri Make a Porno'

### Exercises 4: How many movies were made from 2010 through 2011?

In [ ]:
# Your Code Here

### Exercises 5: In Genre column, sometimes Comedy is spelled as Comdy, comedy and Romance is spelled as romance, Romence. Replace all the misspelt words with correct words

In [ ]:
# Your Code Here

### Exercises 6: How many Comedy Genre movies has release in 2009?

In [ ]:
# Your Code Here

### Exercises 7: Which year as the most number of Romance Genre Movies releases?

In [ ]:
# Your Code Here

### Exercises 8: How many films are made by Sony Lead Studio?

In [ ]:
# Your Code Here

### Exercises 9: How many films are having Audience score less than 50 %?

In [ ]:
# Your Code Here

### Exercises 10: Display all the movies done by Universal Lead Studio?

In [ ]:
# Your Code Here